@charset "utf-8";

body {
	margin:0;
	padding:0;
	font: normal 16px "微软雅黑";
	background-color:#fff;
	outline:none; 
}

img{vertical-align:top;}

ul{margin:0;padding:0;}
li {list-style:none;}
a,img,input { border:none; }
a{text-decoration:none;outline:none; }
a:hover,a:link,a:visited,a:active{text-decoration:none;}
a:focus,input:focus{outline:none;}

input,textarea,button,select,a{
	outline:none;  
} 

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;  
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #ccc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ccc;
}

select{	
	border:0;/*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
	/*很关键：将默认的select选择框样式清除*/
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand{display: none; }

.border_1px_site{
	position:relative;
	overflow:visible;
	height:0px;
}

.border_1px{
	height:1px;
	position:absolute;
	top:-1px;
	background-color:#e5e5e5;
	width:100%
}

/*index框架*/
#SiteHeader{
	background-color:#f8f8f8;
	padding:20px 20px 20px 20px;
	border-bottom:solid 1px #dddddd;
}

#SiteHeader a{
	color:#666;
}

.SiteHeaderLeft{
	font-size:24px;
	color:#666;
}

.SiteHeaderLeft img{
	height:32px;
	vertical-align:text-top;
	padding-right:5px;
}

.SiteHeaderRight{
	display:inline;
	float:right;
	font-size:16px;
	color:#5c5c5c;
	border:solid 1px #aaaaaa;
	padding:4px 6px 5px 5px;
}

.SiteHeaderRight:hover{
	background-color:#f0f0f0;
} 

.SiteHeaderRight img{
	height:19px;
	vertical-align:text-top;
	padding-top:2px;
	padding-right:2px;
}

#SiteMiddle{
	width:100%;
}

#NavMenu{
	background-color:#ececec;
	width:200px;
	border-right:solid 1px #dddddd;
}

.nav_menu{
	font-size:18px;
}

.type_name img{
	height:20px;
	vertical-align:text-top;
	padding-right:5px;
	padding-top:2px;
}

.nav_menu a{
	color:#5c5c5c;
}

.nav_menu .type_name{
	background-color:#fff;
	color:#5c5c5c;
	border-bottom:solid 1px #dddddd;
	padding:10px 0px 10px 20px;
}

.nav_menu_sub{
	display:none;
}

.nav_menu_sub li{
	background-color:#FFF;
	padding:10px 0px 10px 10px;
	margin-left:20px;
	border-left:solid 1px #dddddd;
	border-bottom:solid 1px #dddddd;
}

.nav_menu_sub li a{
	color:#5c5c5c;
}

#SiteContent{
	background-color:#ffffff;
	padding:0;
	margin:0;
}

#SiteFooter{
	background-color:#f8f8f8;
	padding:20px 20px 20px 20px;
	color:#666;
	border-top:solid 1px #dddddd;
}

/*通用按钮*/
.btn1{
	padding: 10px 10px 10px 10px;
	background-color: #00AAEE;
	outline:none; 
	width:100px;
}

.btn1:hover{
	background-color:#009fdf;
}

.btn1_txt,.btn1_txt a{
	text-align: center;
	font-size:16px;
	letter-spacing:5px;
	color: #ffffff;
}

.btn2{
	padding: 10px 10px 10px 10px;
	background-color: #e6e6e6;
	outline:none; 
	width:100px;
}

.btn2:hover{
	background-color:#e0e0e0;
}

.btn2_txt,.btn2_txt a{
	text-align: center;
	font-size:16px;
	letter-spacing:5px;
	color: #444444;
}

.btn3{
	padding:5px 5px 5px 5px;
	background-color:#fff;
	outline:none; 
	width:60px;
	border:solid 1px #dddddd;
}

.btn3:hover{
	border:solid 1px #bbbbbb;
	background-color:#eeeeee;
}

.btn3_txt,.btn3_txt a{
	text-align: center;
	font-size:14px;
	letter-spacing:2px;
	color: #444444;
}

.txt1{
	padding:5px 8px 5px 10px;
	background-color:#fff;
	outline:none; 
	border:solid 1px #dddddd;
	text-align:center;
	font-size:14px;
	letter-spacing:2px;
	color: #444444;
	text-wrap:none;
}
